/* section Home */
.home-block {
    position: relative;
    min-height: 650px;
}

.home__heading {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0em;
    color: #ffffff;
    max-width: 380px;
    padding-top: 164px;
    margin: 0 auto;
}

.home__text {
    color: #ffffff;
    padding-top: 21px;
    max-width: 380px;
    margin: 0 auto;
}

.home__btn {
    max-width: 380px;
    margin: 0 auto;
    padding-top: 32px;
}

.home__bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.home__bg-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.zindex {
    position: relative;
    z-index: 9;
    max-width: 380px;
}

@media (max-width: 768px) {
    .home-block {
        min-height: 500px;
    }

    .home__heading {
        padding-top: 89px;
    }
}

@media (max-width: 410px) {
    .home__heading {
        padding-top: 40px;
    }
}